@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Figtree';
  src: url('/fonts/Figtree/Figtree-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Figtree';
  src: url('/fonts/Figtree/Figtree-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Dalfitra';
  src: url('/fonts/Dalfitra-Regular - Follow IG @fontforzula/Dalfitra-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Figtree', sans-serif;
  color: #FAFAFA;
}
